.search-panel{
    margin-bottom: 50px;
    height: 40px;
    display: flex;
    justify-content: center;
}

.search-panel input, button{
    display: block;
    font-size: 20px;
}

.search-panel input{
    width: 70%;
    outline: none;
    padding-left: 10px;
    margin-right: 4px;
}

.search-panel .btn-all {
    width: 10%;
    outline: none;
    background-color: khaki;
    color: white;
    border: none;
    transition: .3s all;
    margin-right: 5px;
}

.search-panel .btn-all:hover{
    width: 10%;
    background-color: inherit;
    color: khaki;
    border: 2px solid khaki;
}

.search-panel .btn-liked {
    width: 20%;
    outline: none;
    background-color: rgb(102, 102, 102);
    color: white;
    border: none;
    transition: .3s all;
}

.search-panel .btn-liked:hover {
    width: 20%;
    background-color: inherit;
    color: rgb(102, 102, 102);
    border: 2px solid rgb(102, 102, 102);
   
}
