.search-panel{
    margin-bottom: 50px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-panel input, button{
    display: block;
    font-size: 20px;
}

.search-panel input{
    width: 70%;
    outline: none;
    padding-left: 10px;
    margin-right: 4px;
}

.search-panel .btn{
    margin-left: 3px;
}
