.todo-add-form{
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-add-form input, button{
    font-size: 20px;
}

.todo-add-form input{
    width: 80%;
    outline: none;
    padding-left: 10px;
    margin-right: 4px;
}

.todo-add-form button{
    width: 20%;
}

